.nav-container {
  text-align: center;
  ul {
    display: flex;
    justify-content: space-between;
    width: 1312px;
    margin: 0 auto;

    li {

      a {
        color: black;
        font-size: 2rem;

        &.active {
          color: red;
        }
      }
    }
  }
}