.nav-container {
  position: relative;
  padding: 1rem 0;
  font-size: 2rem;
  text-align: center;
  background-color: black;

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: -100vw;
    bottom: 0;
    left: -100vw;
    background-color: black;
  }
  
  h1 {
    color: white;
  }
  ul {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;

    li {

      a {
        color: white;
        font-size: 2rem;

        &.active {
          color: red;
        }
      }
    }
  }
}